@import "constants";

@mixin form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin subHeader{
  text-align: center;
  font-size: $desktopSubHeaderFontSize;
  color: $softwireYellow;
  font-family: $softwireFont;

  @media (min-width: 769px) {
    font-size: $desktopSubHeaderFontSize;
  }
}

@mixin formInput{
  color: $softwireBlack;
  background-color: $softwireWhite;
  border: solid 2px $softwireYellow;
  font-family: $softwireFont;
  height: 20px;
  width: 220px;
  margin-top: 5px;

  @media (min-width: 769px) {
    margin-top: 10px;
    height: 25px;
    width: 250px
  }
}

@mixin formLabel{
  color: $softwireYellow;
  font-size: $contentFontSize;
  font-family: $softwireFont;
  margin-top: 10px;
}

@mixin button{
  background-color: $softwireYellow;
  border: none;
  padding: 10px 20px;
  font-size: $buttonFontSize;
  font-family: $softwireFont;
  margin-top: 15px;
  font-weight: bold;
}