@import '../../pageStyles/constants';

.listItem{
  font-family: $softwireFont;
  font-size: $contentFontSize;
  color: $softwireWhite;
  list-style: none;
  display: block;
  text-align: center;
}

.link{
  text-decoration: none;
}

.textArea {
  border: solid 2px $softwireYellow;
  outline: none;
  width: 290px;
  height: 120px;
}

@media (min-width: 768px){
  .textArea {
    width: 700px;
  }
}

@media (min-width: 1024px) {
  .textArea {
    width: 900px;
  }
}