@import '../../pageStyles/constants';

.h2{
  text-align: center;
  font-size: $desktopHeaderFontSize/2;
  color: $softwireYellow;
  font-family: $softwireFont;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input{
  color: $softwireYellow;
  background-color: $softwireWhite;
  border: solid 2px $softwireYellow;
  font-family: $softwireFont;
}

.label{
  color: $softwireYellow;
  font-size: $desktopHeaderFontSize/3;
  font-family: $softwireFont;
  margin-top: 10px;
}

.login{
  background-color: $softwireYellow;
  border: none;
  height: 40px;
  width: 70px;
  font-size: $desktopHeaderFontSize/4;
  font-family: $softwireFont;
  margin-top: 10px;
}