@import '../../pageStyles/constants';

.listItem{
  font-family: $softwireFont;
  font-size: $contentFontSizeMobile;
  color: $softwireWhite;
  @include list;
  
  @media(min-width: 768px){
    font-size: $contentFontSize;
  }
}

.link{
  @include link;
  word-break: break-all;
}

.separator{
  border: 1px solid $softwireWhite;
}