@import '../../pageStyles/constants';

.listItem{
  font-family: $softwireFont;
  font-size: $contentFontSize;
  color: $softwireWhite;
  @include list;
}

.link{
  @include link;
}

.separator{
  border: 1px solid $softwireWhite;
}